In [47]:
import pandas as pd
import numpy as np
import re
import scipy.stats as stats

# Data Preparation

In [25]:
ed = pd.read_csv('./ed_withbool.csv')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (2,5,8,54,55,56,57,69) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## How many ED visits exactly have been diagnosed as drug user/abuser?

In [3]:
ed[ed['overdue']==1].shape
# 2151 ED visits have been diagnosed as drug user/abuser

(2151, 72)

## Check if data supports gender bias

In [26]:
ed.sex.replace(' ', np.nan, inplace=True)

In [37]:
ed_2 = ed.dropna(subset=['sex', 'overdue'])

In [38]:
ed_2.sex = ed_2.sex.astype(int)

In [39]:
ed_2_xtab = ed_2.groupby(['overdue', 'sex'])['ATYPE'].count()

In [45]:
ed_2_xtab = ed_2_xtab.unstack()

In [48]:
oddsratio, pvalue = stats.fisher_exact(ed_2_xtab)

In [56]:
print('Odds ratio:', oddsratio)

print('p-value: ', pvalue)

ed_2_xtab

Odds ratio: 0.9907982892747088
p-value:  0.8451531521929048

sex           1       2
overdue
0        123149  140553
1          1009    1141